* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    max-width: 1910px;
}

/* navbar style */
nav {
    max-width: 1910px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 10px 130px;
    align-items: center;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo img {
    width: 86px;
    height: 40px;
}

.logo h3 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.pink-color {
    color: #ff42a5;
}

nav>ul {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}

nav>ul li {
    color: #3C354F;
    font-size: 1.05rem;
    font-weight: 500;
    text-align: center;
}

.icon-btn {
    color: #3C354F;
    padding: 21px 45px;
    border: none;
    border-radius: 8px;
    background-color: #0b02231a;
    cursor: pointer;
}

#youtube {
    color: red;
    width: 40px;
}

/* bnnar section style */
.bnnar {
    max-width: 1910px;
    height: 900px;
    display: flex;
    align-items: center;
    border: 1px solid #FFF;
}

.bnnar-title {
    width: 55%;
    height: 700px;
    background-image: url(image/background\ .png);
    background-repeat: no-repeat;
    background-size: cover;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);

}

.bnnar-title-play {
    width: 75%;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 20px;
    text-align: center;

}

.bnnar-title-play h1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.bnnar-head {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.bnnar-head h1 {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: 0px;
}

.feactuer {
    width: 60%;
    margin: auto;
    justify-content: center;

}

.feactuer ul {
    padding: 0px;
    list-style: none;
}

.feactuer li {
    color: #534C64;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 35px;
    margin: 0;
}

.feactuer li i {
    padding: 10px;
}

#icon-0ne {
    color: #ff42a5;
}

.btn {
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.primary-btn {
    font-size: 1.05rem;
    font-weight: 600;
    background: #ff42a5;
    color: #FFF;
    padding: 21px 45px;
    border-radius: 48px;
    border: none;
    margin-left: 20px;

}

.scendary-btn {
    font-size: 1.05rem;
    font-weight: 600;
    background: #4EC5F7;
    color: #FFF;
    padding: 21px 45px;
    border-radius: 48px;
    border: none;
    margin-left: 15px;
}

.bnnar-img {
    width: 40%;
    height: 700px;
    background-image: url(image/bnnar\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 100px;
}

/* main section style */
main {
    max-width: 1910px;
    margin-top: 100px;
}

.funny-video {
    width: 86%;
    margin: auto;
    text-align: center;
}

.black {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.primary-color {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-video>p {
    color: #534C64;
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 30px;

}

.card {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.card-item {
    width: 250px;
    height: 300px;
    border: none;
    border-radius: 16px;
}

.card-item-imag {
    width: 100%;
    height: 100%;
}

.card-item :hover {
    opacity: 0.9;
    border: 3px solid #ff42a5;
    border-radius: 16px;

}

.card-item>p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

/* instant-play section style */
.instant-play {
    width: 86%;
    display: flex;
    gap: 200px;
    align-items: center;
    margin: auto;
}

.instant-play-title {
    width: 50%;
    padding: 0 100px;
    text-align: center;
}

.instant-play-title>p {
    color: #534C64;
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 30px;
}

.man-with-horse {
    width: 50%;
    margin-top: 200px;
    margin-bottom: 0;
}

.man-with-horse img {
    height: 100%;
    width: 100%;
}

.cat {
    width: 230px;
    height: 260px;
    position: relative;
    bottom: 160px;
    right: 130px;
}

/* .btn-of-game section style*/
.btn-of-game {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.game-button {
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 48px;
    background: #FFF;
    border: none;
}

.game-button:hover {
    border: 1px solid #F948B2;
    color: #F948B2;
}

.bton-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 15px;
}

.p {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;

}

/* footer section style */
footer {
    max-width: 1910px;
    background: #0B0223;
}

.foot-hed {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
}

.foot-hed img {
    width: 86px;
    height: 40px;
   

}

.foot-hed h3 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding-left: 20px;
}

.foot-p {
    width: 90%;
    height: 50px;
    display: flex;
    gap: 50px;
    margin: auto;
    align-items: center;
  
}

.foot-p-a {
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;

}

.scoal {
    width: 80%;
    display: flex;
    gap:10pxpx;
    margin: auto;
    padding: 40px 0;
   
}

.foot-icon {
    padding: 30px 0;
    font-size: 34px;
    color: #fff;
}

.privacy{
    width: 70%;
    height: 100px;
    display: flex;
    gap: 50px;
    margin: auto;
    align-items: center;
    padding-left: 60px;
    border: 1px solid #F948B2;
}


.foot-p-p {
    font-size: 1rem;
    font-weight: 400;
    color:#ffffff99;
}
.copyright{
    width: 50%;
    height: 50px;
    margin: auto;
}
.copyright p{
    font-size: 1rem;
    font-weight: 400;
    color:#ffffff99;
    text-align: center;
}




/* Mobile dives style */
@media screen and (max-width:576px) {

    nav,
    nav>ul {
        flex-direction: column;
    }

    .bnnar {
        height: 1400px;
        flex-direction: column-reverse;
    }

    .bnnar-title {
        width: 100%;
        margin: 0;
    }

    .bnnar-img {
        width: 100%;
        height: 100%;
        background-image: 100% 100%;
    }

    .funny-video {
        width: 95%;
    }

    .card {
        width: 80%;
        margin: auto;
        display: grid;
        gap: 80px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-item :hover {
        opacity: 0.9;
        border: 3px solid #ff42a5;
        border-radius: 16px;
    }

    .instant-play {
        flex-direction: column-reverse;
        gap: 5px;
        margin-top: 0px;
    }

    .instant-play-title {
        width: 90%;
        height: 100%;
        margin-left: 30%;
        margin: 0px;
        padding: 0px;
    }

    .man-with-horse {
        width: 90%;
        height: 100%;
        margin-left: 30%;

    }

    .btn-of-game {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 5px;
        padding: 40px 80px;

    }
    .foot-p,.scoal {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
    .privacy{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}


/* tablet dives style */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    nav>ul,
    .bnnar {
        flex-direction: column;
    }

    .bnnar {
        height: 1400px;
        flex-direction: column;
    }

    .bnnar-title {
        width: 100%;
        margin: 0;
    }

    .bnnar-img {
        width: 100%;
        height: 100%;
        background-image: 100% 100%;
    }

    .funny-video {
        width: 95%;
    }

    .card {
        width: 80%;
        margin: auto;
        display: grid;
        gap: 80px;
        grid-template-columns: repeat(2, 2fr);
    }

    .card-item :hover {
        opacity: 0.9;
        border: 3px solid #ff42a5;
        border-radius: 16px;
    }

    .instant-play {
        flex-direction: column-reverse;
        gap: 5px;
        margin-top: 0px;
    }

    .instant-play-title {
        width: 90%;
        height: 100%;
        margin-left: 30%;
        margin: 0px;
        padding: 0px;
    }

    .man-with-horse {
        width: 50%;
        height: 100%;
        margin-left: 30%;

    }

    .btn-of-game {
        width: 90%;
        display: grid;
        gap: 5px;
        padding: 40px 80px;
        grid-template-columns: repeat(3, 3fr);
    }
    .foot-p,.scoal {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }
    .privacy{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

}